/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
